---
- name: Install Apache
  apk:
    name: apache2
    state: present

- name: Deploy httpd.conf
  template:
    src: httpd.conf.j2
    dest: /etc/apache2/httpd.conf
    owner: root
    group: root
    mode: '0644'
  notify: Restart Apache

- name: Ensure Apache is running
  command: httpd -k start
  register: apache_start
  failed_when: "'already running' not in apache_start.stderr and apache_start.rc != 0"
  changed_when: apache_start.rc == 0

# FIX: Replaced 'include' with 'include_tasks'
- name: Configure Virtual Hosts
  ansible.builtin.include_tasks: vhosts.yml
